{% extends 'padre.html' %}

{% block ContenidoQueCambia %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="movie-details">
        <h1 class="movie-title">Vista en detalle de Película</h1>
        <img src="{{pelicula.portada.url}}" class="card-img-top" alt="{{pelicula.titulo}} Portada" style="width: 300px;">
        <h3 class="movie-info">Título: {{ pelicula.titulo }}</h3>
        <h3 class="movie-info">Género: {{ pelicula.genero }}</h3>
        <h3 class="movie-info">Estreno: {{ pelicula.estreno }}</h3>
        <h3 class="movie-info">Duración: {{ pelicula.duracion }} min.</h3>
        <h3 class="movie-synopsis">Sinopsis: {{ pelicula.sinopsis }}</h3>

    <h2>Reseñas</h2>
    <ul>
        {% for reseña in reseñas %}
            <li>
                <p>Usuario: {{ reseña.usuario.username }}</p>
                <p>Fecha: {{ reseña.fecha }}</p>
                <p>Reseña: {{ reseña.reseña }}</p>
                {% if user.is_authenticated and reseña.usuario == user or user.is_staff%}
                    <a href="{% url 'ActualizaReseña' reseña.pk %}">Editar</a>
                    <a href="{% url 'EliminaReseña' reseña.pk %}">Eliminar</a>
                {% endif %}
            </li>
        {% empty %}
            <p>No hay reseñas disponibles.</p>
        {% endfor %}
    </ul>

    
    {% if user.is_authenticated %}
    
    <h2>Escribir una reseña</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar reseña</button>
    </form>
    {% endif %}

    <a href="{% url 'ListaPelicula' %}" class="btn btn-primary">Atras</a>
        
{% endblock ContenidoQueCambia %}