<style>
    .contorno-blanco {
        color: black; /* Color del texto */
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Contorno blanco */
    }
</style>
    <header class="py-5 bg-image-full" style="background-image: url('https://wallpaperaccess.com/full/3658597.jpg')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="https://static-cdn.jtvnw.net/jtv_user_pictures/952b3e67-6626-4668-a6b4-1153b42ee47a-profile_image-150x150.png" alt="..." />
            <h1 class="contorno-blanco">Proyecto Final</h1>
            <p class="contorno-blanco">¡Peliculas y Series gratis! (Para nada piratas)</p>
        </div>
    </header>