{% extends 'padre.html' %}
{% load static %}


{% block ContenidoQueCambia %}

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Proyecto Final - CoderMovies</h2>
            </div>
        </div>
    </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{{mensaje}}
    
{% endblock ContenidoQueCambia %}