{% extends 'padre.html' %} 
{% block ContenidoQueCambia %} 
<h2>Películas Favoritas</h2>
    <section class="lista-peliculas">    
        {% for pelicula in peliculas_favoritas %}
            <div class="card" style="width: 18rem;">
                <img src="{{pelicula.portada.url}}" class="card-img-top" alt="{{pelicula.titulo}} Portada"></img>
                <div class="card-body">
                    <h5 class="card-title">{{pelicula}}</h5>
                    <a href="{% url 'DetallePelicula' pelicula.id %}" class="btn btn-primary">Detalles</a>
                </div>
                <button>
                    <a href="{% url 'EliminaFavoritos' pelicula.id %}">Eliminar</a>
                </button>
            </div>
        {% empty %}
            <li>No tienes películas favoritas.</li>
        {% endfor %} 
    </section>


{% endblock ContenidoQueCambia %}