{% extends 'padre.html' %}
{% load static %}


{% block ContenidoQueCambia %}

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Bienvenidos a CoderMovies</h2>
                <p>Mi nombre es Agustin Peralta, tengo 25 años y soy de Buenos Aires, Argentina. Estudié 3 años de Ingeniería en Informática en la UNLaM y siempre me senti atraido por el mundo de la computacion.</p>
                <p>Mi proyecto CoderMovies emula ser una web para la creación de reseñas sobre películas y próximamente un servicio de streaming TOTALMENTE LEGAL (?).</p> 
                <p>Los usuarios disponen de las opciones de editar su perfil, incluyendo un avatar, ver las películas disponibles en la página, reseñarlas y agregarlas a su lista de películas favoritas. También cuenta con una sección en la que pueden buscar una película por su nombre.</p>
            </div>
        </div>
    </div>
</section>
    
{% endblock ContenidoQueCambia %}